/*solo le quité el margin y padding --> Sheyla*/


/* slider de la pagina */

.slider {
    margin-top: 5%;
    float: left;
    margin-left: 20%;
    width: 60%;
    background: rgba(63, 61, 61, 0.637);
    cursor: pointer;
    padding: 20px;
}

.slider h3 {
    color: rgb(27, 234, 253);
    text-align: center;
    padding-bottom: 10px;
    display: none;
}

.slider #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h5 {
    color: rgb(27, 234, 253);
    font-size: 3em;
    background: rgba(63, 61, 61, 0.637);
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
}

.slider #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption p {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    background: rgba(63, 61, 61, 0.637);
}

.slider #carouselExampleCaptions .carousel-indicators {
    background: rgba(63, 61, 61, 0.637);
    margin-top: 0;
    border-radius: 0 0 10px 10px;
}


/* responsive slider */

@media screen and (max-width:1400px) {
    .slider {
        margin-left: 10%;
        width: 80%;
    }
}

@media screen and (max-width:850px) {
    .slider {
        margin-left: 2%;
        width: 98%;
    }
    .slider h3 {
        display: block;
    }
    .slider #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption h5,
    .slider #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption p {
        display: none;
    }
}


/* estilos de galeria de fotos */

.contenedor-galeria {
    margin-top: 5em;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    float: left;
}

.contenedor-galeria .galeria {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenedor-galeria .galeria .fotos {
    max-width: 350px;
    max-height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    border: 5px solid rgba(0, 0, 0, 0.733);
    transition: 1s;
}

.contenedor-galeria .fotos:hover {
    transform: scale(1.5);
    position: relative;
    background: rgba(0, 0, 0, 0.198);
}

.contenedor-galeria .galeria .fotos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* estilos del formulario login y register */

#contenedor-fondo {
    text-align: center;
}

#login-register {
    position: static;
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 6%;
}

.contenedor-todo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja-trasera {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.9);
}

.caja-trasera div {
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

.caja-trasera div p,
.caja-trasera div button {
    margin-top: 30px;
}

.caja-trasera div h3 {
    font-weight: 400;
    font-size: 26px;
}

.caja-trasera button {
    padding: 10px 40px;
    border: 2px solid white;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja-trasera button:hover {
    background: white;
    color: #007BFF;
    outline: none;
}


/* formularios */

.contenedor-login-register {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -180px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor-login-register form {
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border: solid #007BFF;
    border-radius: 20px;
}

.contenedor-login-register form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #007BFF;
}

.contenedor-login-register form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.contenedor-login-register form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #007BFF;
    color: white;
    cursor: pointer;
    outline: none;
}

.formulario-login {
    opacity: 1;
    display: block;
}

.formulario-register {
    display: none;
}

.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: #007BFF;
    padding-top: 20px;
}


/* responsive de login y register*/

@media screen and (max-width:850px) {
    #login-register {
        padding: 20px;
        margin-top: 50px;
    }
    .caja-trasera {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .caja-trasera div {
        margin: 0px;
        position: absolute;
    }
    /* responsive form */
    .contenedor-login-register {
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .contenedor-login-register form {
        position: relative;
    }
}

@media screen and (max-width:991px) {
    #login-register {
        margin-top: 250px;
    }
}


/* redes sociales */

#social {
    position: fixed;
    top: 300px;
    left: 0;
    margin-left: 0;
    z-index: 2000;
}

#social ul {
    list-style: none;
}

#social ul li a {
    display: inline-block;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    text-decoration: none;
    z-index: 2000;
}

#social ul li .icon-twitter {
    background-color: rgb(0, 140, 255);
}

#social ul li .icon-youtube {
    background-color: rgb(136, 14, 14);
}

#social ul li .icon-skype {
    background-color: rgb(0, 195, 255);
}

#social ul li .icon-google-plus2 {
    background-color: rgb(243, 108, 18);
}

#social ul li .icon-telegram {
    background-color: rgb(0, 140, 255);
}

#social ul li .icon-instagram {
    background-color: rgb(243, 10, 126);
}

#social ul li .icon-facebook2 {
    background-color: rgb(7, 62, 145);
}

#social ul li a:hover {
    padding: 10px 30px;
}

@media screen and (max-width:850px) {
    #social {
        display: none;
    }
}


/* Estilos footer */

footer {
    font-family: 'Open Sans';
    left: 0;
    bottom: 0;
}

footer a {
    text-decoration: none!important;
    outline: none!important;
}

footer img {
    border: none;
}

.clr {
    clear: both;
}

.main_footer {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 50% 0%;
    padding: 80px 0px;
    position: relative;
}

.main_footer::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.75);
}

.footer_box {
    width: 100%;
    height: auto;
}

.footer_box img {
    width: 180px;
    height: auto;
    margin-bottom: 20px;
}

.footer_box h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #fff;
}

.footer_box hr {
    background: #01bea2;
    width: 80px;
    height: 3px;
    border: none;
    margin: 5px 0px 15px 0px;
}

.footer_box p {
    font-size: 14px;
    color: #fff;
    margin-bottom: 20px;
    line-height: 24px;
    text-align: justify;
}

.footer_box ul {
    margin: 0px;
    padding: 0px;
}

.footer_box ul li {
    list-style-type: none;
}

.footer_box ul li a {
    font-size: 13px;
    color: #fff;
    display: block;
    padding: 8px 0px;
    line-height: 24px;
    border-bottom: 1px solid #aaaaaa;
    transition: .5s;
}

.footer_box ul li a:hover {
    padding-left: 5px;
    color: #01bea2;
}

.footer_address {
    width: 100%;
    height: auto;
    margin-top: 45px;
}

.footer_address h6 {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    margin: 0px;
    margin-top: 20px;
}

.footer_address h6 a {
    color: #fff;
    display: block;
}

.footer_address h6 a i {
    font-size: 14px;
    width: 30px;
    height: 30px;
    color: #01bea2;
    border-radius: 5px;
    border: 1px solid #01bea2;
    text-align: center;
    line-height: 26px;
    margin-right: 10px;
}

.footer_address h6 a:hover {
    color: #01bea2;
}

.footer_socialicons {
    width: 100%;
    height: auto;
}

.footer_socialicons ul {
    margin: 0px;
    padding: 0px;
}

.footer_socialicons ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 5px;
}

.footer_socialicons ul li a {
    width: 30px;
    height: 30px;
    display: block;
    background: #01bea2;
    color: #fff;
    text-align: center;
    border: none;
    padding: 0px;
}

.footer_socialicons ul li a i {
    font-size: 14px;
    line-height: 30px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.footer_socialicons ul li a:hover i {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    color: #fff;
}

.footer_socialicons ul li a:hover {
    background: #000000;
}

.footer_bottom {
    text-align: center;
    width: 100%;
    height: auto;
    background: #1a1a1a;
    padding: 10px 0px;
}

.footer_bottom p {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    margin: 0px;
}

.footer_bottom p a {
    font-size: 13px;
    font-weight: 500;
    color: #01bea2;
}

.footer_position {
    float: left;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.footer_position h1 {
    font-size: 40px;
    text-align: center;
    color: #232323;
    padding-bottom: 55px;
    text-transform: uppercase;
    font-weight: 800;
}

.footer_position h1 em {
    font-style: normal;
    color: #01bea2;
}


/* Footer Responsive */

@media only screen and (min-width:992px) and (max-width:1199px) {
    .footer_position {
        position: relative;
    }
    .footer_position h1 {
        font-size: 50px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .main_footer {
        padding: 40px 0px;
    }
    .footer_address h6 {
        font-size: 13px;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .footer_position {
        position: relative;
    }
    .footer_position h1 {
        font-size: 40px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .main_footer {
        padding: 40px 0px;
    }
    .footer_box {
        text-align: center;
    }
    .footer_box p {
        font-size: 13px;
        margin-bottom: 0px;
    }
    .footer_box h2 {
        font-size: 16px;
        text-align: left;
        margin-top: 20px;
    }
    .footer_box ul li {
        text-align: left;
    }
    .footer_address h6 {
        text-align: left;
        font-size: 13px;
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {
    .footer_position {
        position: relative;
    }
    .footer_position h1 {
        font-size: 20px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .main_footer {
        padding: 40px 0px;
    }
}

@media only screen and (min-width:320px) and (max-width:575px) {
    .footer_position {
        position: relative;
    }
    .footer_position h1 {
        font-size: 20px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .main_footer {
        padding: 40px 0px;
    }
    .footer_box h2 {
        padding-top: 20px;
    }
    .footer_box hr {
        width: 50px;
    }
    .footer_address {
        margin-top: 30px;
    }
    .footer_bottom p {
        text-align: center;
        font-size: 12px;
    }
    .footer_bottom p.text-right {
        text-align: center!important;
    }
}

@media only screen and (max-width:319px) {
    .footer_position {
        position: relative;
    }
    .footer_position h1 {
        font-size: 20px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .main_footer {
        padding: 40px 0px;
    }
    .footer_box h2 {
        padding-top: 20px;
    }
    .footer_box hr {
        width: 50px;
    }
    .footer_address {
        margin-top: 30px;
    }
    .footer_bottom p {
        text-align: center;
        font-size: 12px;
    }
    .footer_bottom p.text-right {
        text-align: center!important;
    }
}