*{
	padding: 0px;
	margin: 0px;
}
	/*aca empieza el header*/
.anaya .egt #sub_1a{
    text-align: center;
    font-size: 30px;
}
.anaya .egt #parrafo_1a{
	margin-top: 2%;
	margin-right: 10%;
	margin-left: 14%;
}
.anaya #elegirnos{
	font-size: 50px;
	text-align: center;
}
.anaya img{
	margin: auto;
	display: block;
}
.anaya #encabezado_recuadro_azul{
	background-color: blue;
	width: 100%;
}
.anaya #recuadro_azul{
	background-color: blue;
	width: 100%;

}
.anaya #encabezado_recuadro_azul #icono{
	width: auto;
	height: 90px;margin-top: 5%;
	margin-left: 20px;
	margin-right: 20px;
	display: block;
	color: white;
	border-radius: 10px;

}
.anaya #encabezado_recuadro_azul #letra_icono{
	color: white;
}
.anaya #recuadro_azul #soporte1{
	margin-top: 50px;
	width: 600px;
	height: 500px;
	color: white;
}
.anaya #soporte1{
	margin-left: 5%;
}
.anaya #recuadro_azul #titulo_recuadro_azul{
	margin-left: 10%;
	margin-right: 5%;
	margin-top: 50px;
	color: white;
	float: left;
}
.anaya #recuadro_azul #sub_recuadro_azul{
	margin-left: 10%;
	margin-right: 5%;
	text-align: justify;
	color: white;
}
.anaya #recuadro_azul  #texto_recuadro_azul{
	margin-left: 10%;
	margin-right: 5%;

	text-align: justify;
	color: white;
}
